.App {
  text-align: center;
  min-height: 100vh;
  max-width: 1600px;
  margin: auto;
  display: grid;
  grid-template-columns: 0.1fr 4fr 0.1fr;
  grid-template-rows: 0.1fr 4fr 0.1fr;
  grid-template-areas: "aTitle aTitle aTitle" ". aChains ." ". . .";
}

.Title { grid-area: aTitle; }
.Chains { grid-area: aChains;}